.acerca-de{
    width: 100%;
    background: white;

}
.acerca-de>.info-container{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.acerca-de>.info-container>h1{
    font-size: 50px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-bottom: 20px;

}
.acerca-de>.info-container>P{
    text-align: center;
    font-size: 17px;
    color: black;
    line-height: 35px;
    margin: 10px 0px;
}
.acerca-de>.info-container>.nosotros-galeria{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.acerca-de>.info-container>.nosotros-galeria>img{
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit:fill;
    margin: 10px 10px;
    border-radius: 10px;

}

.ske-arriba{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10vh 100vw 0 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
    z-index: 10;
}
.ske-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw ;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    z-index: 10;
}

@media only screen and (max-width: 773px){
    .acerca-de>.info-container>.nosotros-galeria{
        flex-direction: column;
    }
    .acerca-de>.info-container>.nosotros-galeria>img{
        width: 100%;
    }
 
}